<!DOCTYPE html>
<html style="font-size: 16px">
    <head>
        <script src="/assets/js/logging.js"></script>
        <script>
            let user = JSON.parse(`<%- JSON.stringify(user) %>`);
        </script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/e311482788.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.map"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TNH2EKLKV"></script>
        <!-- <script async defer data-website-id="94af8724-cf3b-4356-b674-17a02a527846"
            src="https://analytics-v2.gezel.io/script.js"></script> -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Admin</title>
        <meta name="description" content="Your one stop link, for all your social profiles with MystLink" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
        <!--Replace with your tailwind.css once created-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
        <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <style>
            .gradient {
                background: linear-gradient(90deg, main_grey 50%, off_white 100%);
            }

            .UserCardTop {
                word-break: break-all;
            }

            .UserCardDiv1,
            .UserCardDiv {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                gap: 0.2rem;
                word-break: break-all;
                justify-content: flex-start;
                padding-top: 0.375rem;
                padding-bottom: 0.375rem;
            }

            .UserCardDiv1,
            .UserCardDiv span {
                display: flex;
                flex-direction: row;
                word-break: break-all;
            }

            .UserCardDiv i {
                padding-right: 0.25rem;
                font-size: 1.5rem;
                color: #d94d49;
            }
        </style>
        <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://api.gezel.io/js/tailwind_config.js"></script>
        <script src="https://api.gezel.io/js/footer_new.js" defer></script>
        <script src="/assets/js/navbar.js" defer></script>
    </head>

    <body>
        <div class="justify-items-center grid grid-cols-1 gap-4 mt-[5.5rem]">
            <div class="container bg-[#2b3036] p-4 rounded-lg shadow-xl col-span-full">
                <h1 class="font-black mb-2 text-center">Totals</h1>
                <div class="grid lg:grid-cols-3 justify-center">
                    <div class="tooltip" data-tip="Showcases the total amount of users">
                        <i class="fa-solid fa-circle text-white mr-2"></i>
                        Total users:
                        <span id="all"></span>
                    </div>
                    <div class="tooltip" data-tip="Users active with EXT">
                        <i class="fa-solid fa-circle text-red-400 mr-2"></i>
                        Active EXT:
                        <span id="extStats"></span>
                    </div>
                    <div class="tooltip" data-tip="Users active with SB">
                        <i class="fa-solid fa-circle text-purple-400 mr-2"></i>
                        Active SB:
                        <span id="sbStats"></span>
                    </div>
                </div>
            </div>
            <div id="main">
                <div class="grid lg:grid-cols-6 md:grid-cols-3 gap-2 mx-4 mb-9" id="data"></div>
            </div>
        </div>
    </body>
</html>
<script>
    let sbStats = [];
    function open_img(URL) {
        window.open(URL, "_blank");
    }
    function dynamicSort(property) {
        var sortOrder = 1;
        if (property[0] === "-") {
            sortOrder = -1;
            property = property.substr(1);
        }
        return function (b, a) {
            /* next line works with strings and numbers,
             * and you may want to customize it to your needs
             */
            var result = a[property] < b[property] ? -1 : a[property] > b[property] ? 1 : 0;
            return result * sortOrder;
        };
    }
    function checkimg(data) {
        data.map(function (item, index) {
            fetch(item.user.profile_pic).then((data1) => {
                if (!data1.ok) {
                    document.getElementById(`id_${item.user.id}_img`).src = "https://img.mystl.ink/profile_pics/default.png";
                }
            });
        });
    }
    function HumanTime(time) {
        return new Date(time).toLocaleString("en-US", { month: "short", day: "numeric", year: "numeric", hour: "numeric", minute: "numeric" });
    }
    GetUsers();
    function GetUsers() {
        fetch("/get-admin/all", {
            method: "GET",
            headers: {
                "Content-Type": "application/json"
            }
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                logging({ Users: data });
                show(data);
            })
            .catch(function (error) {
                loggingPerm({ "error get-admin": error });
            });
    }
    function show(data) {
        document.getElementById("data").innerHTML = "";
        document.getElementById("all").innerHTML = data.length;
        data.sort(dynamicSort("created_at"));
        data.forEach(function (element, index) {
            document.getElementById("data").innerHTML += `
    <div class="bg-nav_bar p-4 rounded-lg">
        <div class="flex flex-row place-content-between content-center UserCardTop">
            <a data-tippy-content="Go to user profile" class="underline hover:text-myst_main" href="/u/${element.channel_link}" target="_blank">${element.user.username}</a>
        </div>
        <div class="UserCardDiv">
            <span id="id_${element.channel_id}_sb"></span>
        </div>
        <div class="relative ml-3">
            <img id="id_${element.user.id}_img" src="${element.user.profile_pic}" class="ring-4 ring-red-200 w-28 h-28 mb-3 align-middle shadow-xl rounded-full" onclick="open_img('${element.user.profile_pic}')">
        </div>
        <div class="UserCardDiv">
            <span><i data-tippy-content="Created" class="fa fa-calendar-plus" aria-hidden="true"></i> ${HumanTime(element.created_at)}</span>
        </div>
        <div class="UserCardDiv">
            <span><i data-tippy-content="Last Login" class="fa fa-calendar-day" aria-hidden="true"></i> ${HumanTime(element.last_login)}</span>
        </div>
        <div class="UserCardDiv">
            <span><i data-tippy-content="UID" class="fa fa-id-badge" aria-hidden="true"></i> ${element.user.id}</span>
        </div>
        <div class="UserCardDiv">
            <span><i data-tippy-content="Banned" class="fa fa-user-slash" aria-hidden="true"></i> ${element.ban.banned}</span>
        </div>
        <div class="UserCardDiv">
            <span><i data-tippy-content="Youtube Channel" class="fa-brands fa-youtube" aria-hidden="true"></i> ${element.channel_id}</span>
        </div>
        <div class="UserCardDiv">
            <span><i data-tippy-content="Users" class="fa fa-users" aria-hidden="true"></i> ${element.users.length}</span>
        </div>
        <div class="UserCardDiv">
            <span><i data-tippy-content="Discord UserID" class="fa-brands fa-discord"></i> ${element.user.discord_user_id}</span>
        </div>
    </div>
            `;
            if (data.length - 1 == index) {
                tippy("[data-tippy-content]", {
                    arrow: true
                });
                checkimg(data);
                sbStats.map(function (element) {
                    console.log("element: ", element);
                    document.getElementById(`id_${element}_sb`).innerHTML = `
                    <img data-tippy-content="SB Open and running" src="https://streamer.bot/logo.png" class="w-8 h-8 mb-3 align-middle shadow-xl rounded-full">
                    `;
                    tippy("[data-tippy-content]", {
                        arrow: true
                    });
                });
            }
        });
    }
    WSconnect();
    function WSconnect() {
        if (window.location.origin.includes("https://")) {
            var ws = new WebSocket(window.location.origin.replace("https://", "wss://") + "/ws?group=stats");
        }
        if (window.location.origin.includes("http://")) {
            var ws = new WebSocket(window.location.origin.replace("http://", "ws://") + "/ws?group=stats");
        }
        ws.onopen = function () {
            loggingPerm("Socket is connected to YTCR");
        };
        ws.onmessage = function (e) {
            var data = JSON.parse(e.data);
            logging({ WS: "Message", data });
            if (data.type == "stats") {
                GetUsers();
                document.getElementById("extStats").innerHTML = data.ext == undefined ? 0 : data.ext;
                document.getElementById("sbStats").innerHTML = data.sb.length;
                sbStats = data.sb;
            }
        };
        ws.onclose = function (e) {
            loggingPerm("Socket is closed. Reconnect will be attempted in 1 second.", e.reason);
            setTimeout(function () {
                WSconnect();
            }, 1000);
        };
        ws.onerror = function (err) {
            console.error("Socket encountered error: ", err.message, "Closing socket");
            ws.close();
        };
    }
</script>
