@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#ytcr_prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--yt-live-chat-primary-text-color);
    background-color: var(--yt-live-chat-action-panel-background-color, var(--yt-deprecated-opalescence-soft-grey-opacity-lighten-3));
    border-radius: 5px;
    padding: 16px;
    box-sizing: border-box;
    position: relative;
    z-index: 99999999;
    align-content: center;
}
