<!DOCTYPE html>
<html lang="en" class="dark bg-gray2 text-white scroll-smooth">

    <head>
        <!-- <script src="/js/swiper.js" defer></script> -->
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/e311482788.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.map"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TNH2EKLKV"></script>
        <script async defer data-website-id="94af8724-cf3b-4356-b674-17a02a527846"
            src="https://analytics-v2.gezel.io/script.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>
            YouTube Channel Rewards
        </title>
        <meta name="description" content="Your one stop link, for all your social profiles with MystLink" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
        <!--Replace with your tailwind.css once created-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
        <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <style>
            .gradient {
                background: linear-gradient(90deg, main_grey 50%, off_white 100%);
            }
        </style>
        <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://api.gezel.io/js/tailwind_config.js"></script>
        <script src="https://api.gezel.io/js/footer_new.js" defer></script>
        <script src="/js/navbar.js" defer></script>
    </head>

    <body>
        <div id="start" class="bg-no-repeat bg-top"
            style="background-image: url(https://cdn.discordapp.com/attachments/1049322032388640778/1070033575900094479/mystlink_banner.webp);">
            <!-- gezelbot banner -->
            <div class="bg-transparent text-center py-4 lg:px-4">
                <div class="p-2 bg-black items-center text-off_white leading-none lg:rounded-full flex lg:inline-flex"
                    role="alert">
                    <span class="flex rounded-full bg-discord uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
                    <a href="https://mystl.ink/?ref=ytcrbanner" class="mr-2 text-left flex-auto">Get <span
                            class="font-black">Mystl.ink</span> -
                        The <span class="text-myst_main font-bold">ULTIMATE</span> <span class="font-black">link in
                            bio</span>
                        profile page</a>
                    <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                            d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
                    </svg>
                </div>
            </div>
            <!-- banner end -->
            <!-- Main Content -->
            <div class="grid grid-cols-3 gap-2 items-center mt-20 mx-24">
                <div class="col-span-2">
                    <section class="justify-center items-center">
                        <div class="my-2">
                            <h1 class="text-5xl font-bold text-white mb-3">YouTube Channel Rewards</h1>
                            <p class="text-2xl text-white">The ultimate tool for YouTube streamers
                                looking for an interactive and powerful</p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="flex flex-row">
                <div id="buttons" class="">
                    <a href="#streamer"
                        class="btn btn-block my-2 border-0 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        I'm a Streamer
                    </a>
                    <a href="#viewer"
                        class="btn btn-block my-2 border-0 bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                        I'm a Viewer
                    </a>
                    <a href="/creds/login"
                        class="btn btn-block my-2 border-0 g-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded w-full">
                        Sign In
                    </a>
                </div>
            </div>
            <div id="streamer" class="lg:col-span-4 pt-24 mb-2 bg-bottom flex flex-col items-center">
                <div class="mx-4 text-center">
                    <h2 class="text-left font-bold text-5xl text-white">Let's get started!</h2>
                    <h1 class="text-left font-bold text-botred text-xl my-4">YTCR Brings all your channel points from
                        Twitch
                        over to YouTube, with the power of <a href="https://streamer.bot"
                            class="underline">Streamer.bot</a>
                    </h1>
                    <div class="my-4 max-w-full" style="display: flex;justify-content: center;">
                        <iframe class="rounded-xl shadow-2xl max-w-xs md:max-w-full" width="560" height="315"
                            src="https://www.youtube.com/embed/AVUB1xe1_po" title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="flex flex-col items-center">
                        <div class="grid grid-cols-2 gap-2">
                            <div>
                                <a href="https://github.com/gezelio/YTCR#how-to-set-up-youtube-channel-rewards-as-a-streamer"
                                    class="btn btn-block bg-botred border-0 text-white shadow-2xl">Get started right
                                    away</a>
                            </div>
                            <div>
                                <a href="/creds/login"
                                    class="btn btn-block bg-botred border-0 text-white shadow-2xl">Log
                                    in</a>
                            </div>
                            <div class="col-span-2">
                                <a href="#features"
                                    class="btn btn-block border-0 text-white shadow-2xl mt-2">Features</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Features -->
            <div id="features" class="my-96 mx-9 items-center justify-items-center">
                <div id="channel-rewards" class="grid grid-cols-2 gap-9 pt-24 my-96">
                    <div>
                        <h1 class="text-3xl font-bold">Channel Rewards inside YouTube</h1>
                        <p>Just like you had on Twitch, you can now have channel rewards on YouTube, that also control
                            your
                            OBS!</p>
                        <a href="https://github.com/gezelio/YTCR#how-to-set-up-youtube-channel-rewards-as-a-streamer"
                            class="btn btn-block rounded-lg shadow-2xl bg-gradient-to-r from-red-500 to-botred hover:from-red-700 hover:to-myst_dark text-white border-0 transition duration-200 ease-in-out transform hover:-translate-y--1 hover:scale-110">Get
                            Started</a>
                    </div>
                    <div>
                        <img src="/assets/images/streamerbot image.png" class="rounded-lg shadow-2xl">
                    </div>
                </div>
                <div id="mystlink-integration" class="grid grid-cols-2 gap-9 my-96">
                    <div>
                        <img src="" class="rounded-lg shadow-2xl">
                    </div>
                    <div>
                        <h1 class="text-3xl font-bold">Mystl.ink integration</h1>
                        <p>Just like you had on Twitch, you can now have channel rewards on YouTube, that also control
                            your
                            OBS!</p>
                        <a href="https://github.com/gezelio/YTCR#how-to-set-up-youtube-channel-rewards-as-a-streamer"
                            class="btn btn-block rounded-lg shadow-2xl bg-gradient-to-r from-red-500 to-botred hover:from-red-700 hover:to-myst_dark text-white border-0 transition duration-200 ease-in-out transform hover:-translate-y--1 hover:scale-110">Get
                            Started</a>
                    </div>
                </div>
                <div id="mystlink-integration" class="grid grid-cols-2 gap-9 my-96">
                    <div>
                        <h1 class="text-3xl font-bold">A better clipping tool</h1>
                        <p>Allow your chat to trigger actions such as a clip that gets saved onto your local drive, all
                            with
                            the power of the OBS replay buffer!</p>
                        <a href="https://github.com/gezelio/YTCR#how-to-set-up-youtube-channel-rewards-as-a-streamer"
                            class="btn btn-block rounded-lg shadow-2xl bg-gradient-to-r from-red-500 to-botred hover:from-red-700 hover:to-myst_dark text-white border-0 transition duration-200 ease-in-out transform hover:-translate-y--1 hover:scale-110">Get
                            Started</a>
                    </div>
                    <div>
                        <img src="" class="rounded-lg shadow-2xl">
                    </div>
                </div>
            </div>
            <!-- Features end -->
        </div>
        <!-- tutorial -->
        <!--   step 1 -->
        <!--
        <div class="container p-4 mx-auto rounded-xl bg-gray1">
            <h1 class="font-bold text-4xl text-white">Let's get started</h1>
            <h2 class="text-2xl underline mt-4">Prerequisites</h2>
            <p class="text-white">Before we get started, you'll need to have a few things ready</p>
            <ul class="list-disc list-inside text-white">
                <li><a href="https://streamer.bot" class="underline">Streamer.bot</a><span class="mx-4">must be
                        <code>v0.1.16</code> or later</span></li>
                <li>An affiliated <a href="https://twitch.tv" class="underline">Twitch</a> account</li>
            </ul>
            <a class="btn btn-block border-0 bg-botred text-white">Next</a>
        </div>
        <!-- <div class="container p-4 mx-auto rounded-xl bg-gray1">
            <span class="">Step 1 - StreamerBot configuration</span>
            <h1 class="font-bold my-2 text-4xl text-white">Download YTCR</h1>
            <p class="text-white my-2">Download the latest version of YTCR from our GitHub</p>
            <a class="btn border-0 text-white my-2"><i class="fa-brands fa-github mr-2"></i>Download</a>
            <a class="btn btn-block border-0 bg-botred text-white">Next</a>
        </div> -->
        <!--   step 3 -->
        <!-- <div class="container p-4 mx-auto rounded-xl bg-gray1">
            <span class="">Step 1 - StreamerBot configuration</span>
            <h1 class="font-bold my-2 text-4xl text-white">Importing</h1>
            <p class="text-white my-2">Select the <code>import</code> button on StreamerBot, and drag the
                <code>ytcr_version_*.sb</code> file inside the box.<br>
                You should see the following actions being imported:
            </p>
            <ul class="list-disc list-inside text-white">
                <li><code>Clipping Tool</code></li>
                <li><code>Execute Channel Reward Redeem</code></li>
                <li><code>Set Channel Rewards</code></li>
            </ul>
            <a class="btn btn-block border-0 bg-botred text-white">Next</a>
        </div> -->
        <!--   step 4 -->
        <!-- <div class="container p-4 mx-auto rounded-xl bg-gray1">
            <span class="">Step 1 - StreamerBot configuration</span>
            <h1 class="font-bold my-2 text-4xl text-white">Adding your YouTube ID</h1>
            <p class="text-white my-2">Inside StreamerBot, head over to your <code>Actions</code> and click
                <code>Set Channel Rewards</code>. <br>Inside the Sub-Actions, double click
                <code>Set global "youtube_channel_id"</code>.<br>
                Where it says <code>CHANGEME</code>, paste in your Channel ID. If you aren't sure where to get it, you
                can
                find it <a href="https://www.youtube.com/account_advanced" class="underline">here.</a>
            </p>
            <a class="btn btn-block border-0 bg-botred text-white">Next</a>
        </div> -->
        <!--   step 5 -->
        <!-- <div class="container p-4 mx-auto rounded-xl bg-gray1">
            <span class="">Step 1 - StreamerBot configuration</span>
            <h1 class="font-bold my-2 text-4xl text-white">Clipping Tool</h1>
            <h2 class="text-botred">This section can be skipped if you don't intend on using the feature</h2>
            <p class="text-white my-2">The Clipping Tool is a feature that adds a clipping feature to your
                stream. This utilizes the OBS Replay Buffer and would require additional setup. We made this because
                YouTube’s clipping feature doesn’t actually create a downloadable clip to post on other social media
                platforms, so we hope this will be a good alternative to Twitch’s clip feature.
                <a class="btn btn-block border-0 bg-botred text-white">Next</a>
            </p>
        </div> -->
        <!-- step 6 -->
        <!-- <div class="container p-4 mx-auto rounded-xl bg-gray1">
            <span class="">Step 1 - StreamerBot configuration</span>
            <h1 class="font-bold my-2 text-4xl text-white">Configure The Web Socket</h1>
            <p class="text-white my-2">Inside StreamerBot, head over to
                <code>Servers/Clients > Websocket Clients</code>.<br>
                Right click and add the following details:
            </p>
            <div class="overflow-x-auto my-9" style="display: flex;justify-content: center;">
                <table class="table w-1/2"> -->
        <!-- head -->
        <!-- <thead>
                        <tr>
                            <th>Section</th>
                            <th>Input</th>
                        </tr>
                    </thead>
                    <tbody> -->
        <!-- row 1 -->
        <!-- <tr>
                            <th>Name</th>
                            <td>Gezel's YTCR</td>
                        </tr> -->
        <!-- row 2 -->
        <!-- <tr>
                            <th>Endpoint</th>
                            <td><code>wss://ytcr.gezel.io/ws</code></td>
                        </tr> -->
        <!-- row 3 -->
        <!-- <tr>
                            <th>Auto Connect on Startup</th>
                            <td>✅</td>
                        </tr> -->
        <!-- row 4 -->
        <!-- <tr>
                            <th>Reconnect on Disconnect</th>
                            <td>✅</td>
                        </tr>
                        <tr>
                            <th>Retry Interval</th>
                            <td>5 seconds</td>
                        </tr> -->
        <!-- row 5 -->
        <!-- <tr>
                            <th>TLS</th>
                            <td>Select all boxes: 1.0/1.1/1.2</td>
                        </tr> -->
        <!-- row 6 -->
        <!-- <tr>
                            <th>Connected</th>
                            <td><code>Set Channel Rewards</code></td>
                        </tr> -->
        <!-- row 7 -->
        <!-- <tr>
                            <th>Disconnected</th>
                            <td><code>leave blank</code></td>
                        </tr> -->
        <!-- row 8 -->
        <!-- <tr>
                            <th>Message</th>
                            <td><code>Execute Channel Reward Redeem</code></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <img class="" src="/assets/images/streamerbot image.png"> we need a new image lol
            <span>Here's an image in case you need some guidance.</span>
            <h1 class="font-bold mt-7 mb-2 text-xl text-white">Click Ok, and then you should be able to right click and
                select <code>connect</code>!</h1>
            <a class="btn btn-block border-0 bg-botred text-white">Next</a>
        </div> -->
        <!-- step 7 -->
        <!-- <div class="container p-4 mx-auto rounded-xl bg-gray1">
            <span class="">Step 2 - Configure your rewards</span>
            <h1 class="font-bold my-2 text-4xl text-white">The YTCR Dashboard</h1>
            <p class="text-white my-2"></p>
            <a class="btn btn-block border-0 bg-botred text-white">Next</a>
        </div> -->
        <!-- tutorial end -->
        <!-- viewer -->
        <div id="viewer" class="h-screen flex flex-col justify-center items-center">
            <div class="mx-4 text-center">
                <h2 class="text-left font-bold text-5xl text-white">Howdy!</h2>
                <h1 class="text-left font-bold text-botred text-xl my-4">As a viewer, the only thing you have to do
                    is
                    download the extension! 🎉</h1>
                <p class="text-left font-bold text-gray-200 my-4 text-lg">
                    Go support your YouTube streamers my downloading the extension today!
                </p>
                <div class="col-span-2">
                    <a href="https://chrome.google.com/webstore/detail/youtube-channel-rewards/mljbbipcgoalcakbafgfhpdpegldihne"
                        class="btn btn-block bg-neutral-600 border-0 text-white shadow-2xl mt-2"><i
                            class="fa-brands fa-chrome mr-1"></i>Install for Chrome</a>
                    <p class="text-left my-2 text-sm">*Supports other Chromium based browsers such as Edge, Brave,
                        Opera GX, etc</p>
                </div>
            </div>
        </div>
        <!-- premium + discor -->
        <div id="" class="pb-9">
            <div></div>
            <div id="discord" class="lg:col-span-4 bg-discord2 text-center py-9">
                <h1 class="text-center text-white items-center text-2xl font-extrabold mb-8">Join our Discord <i
                        class="fa-brands fa-discord"></i></h1>
                <a href="https://gezel.io/discord"
                    class="text-center text-gray1 bg-white hover:bg-gray1 hover:text-white p-2 rounded-lg font-bold text-xl">
                    <i class="fa-brands fa-discord text-discord text-xl"></i> Join us!</a>
            </div>
            <div></div>
        </div>

        <div id="mastodon verification" class="mx-4 hidden">
            <h1 class="font-bold text-white">Find us on Mastodon</h1>
            <a rel="me" href="https://icreate.social/@tommerty">Tommerty</a><br>
            <a rel="me" href="https://icreate.social/@Trent">Trent</a>
        </div>
        </div>

    </body>

</html>
<!-- <script src="/js/toast.js"></script> -->