<!DOCTYPE html>
<html lang="en" class="dark bg-gray2 text-white scroll-smooth">
    <head>
        <!-- <script src="/js/swiper.js" defer></script> -->
        <link href="/assets/styles/tailwind.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/e311482788.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.map"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TNH2EKLKV"></script>
        <script async defer data-website-id="94af8724-cf3b-4356-b674-17a02a527846" src="https://analytics-v2.gezel.io/script.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>YouTube Channel Rewards</title>
        <meta name="description" content="Your one stop link, for all your social profiles with MystLink" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
        <!--Replace with your tailwind.css once created-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
        <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <style>
            .gradient {
                background: linear-gradient(90deg, main_grey 50%, off_white 100%);
            }
        </style>
        <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    </head>

    <body>
        <div id="nav" class="navbar sticky top-0 z-50 bg-botred hover:bg-nav_bg">
            <div class="navbar-start">
                <a href="/#home" class="btn btn-ghost normal-case text-white text-xl">YTCR</a>
            </div>
            <div class="navbar-center">
                <ul class="menu menu-horizontal px-1">
                    <li class="text-white font-bold"><a class="btn btn-ghost" href="#streamers">Streamers</a></li>
                    <li class="text-white font-bold"><a class="btn btn-ghost" href="#viewers">Viewers</a></li>
                </ul>
            </div>
            <div class="navbar-end gap-3">
                <a href="https://gezel.io/download" class="btn bg-neutral-500 hover:bg-neutral-700 border-0 text-white font-bold"><i class="fa-brands fa-chrome"></i></a>
                <a href="https://gezel.io/discord" class="btn bg-discord hover:bg-discord2 border-0 text-white font-bold"><i class="fa-brands fa-discord"></i></a>
                <a href="https://github.com/gezelio/ytcr" class="btn bg-gray1 hover:bg-gray2 border-0 text-white font-bold"><i class="fa-brands fa-github"></i></a>
                <a href="/creds/login" class="btn hover:bg-button2 border-0 text-white font-bold">Login</a>
            </div>
        </div>
        <div id="home" class="flex items-center justify-center text-center h-screen">
            <div class="gap-4 mx-9 md:mx-24 lg:mx-72 xl:mx-80">
                <h1 class="font-black leading-tight text-text text-6xl animate-jump animate-duration-500 animate-ease-in-out animate-normal animate-fill-both">Bring life to your YouTube streams</h1>
                <h2 class="text-transparent text-2xl font-bold bg-clip-text bg-gradient-to-tr from-botred to-white animate-jump-in animate-duration-500 animate-delay-50 animate-ease-in-out animate-normal animate-fill-both">Interactive Channel Rewards</h2>
                <div class="grid sm:grid-cols-2 gap-4">
                    <a href="#streamers" class="btn bg-botred mt-4 hover:bg-button2 border-0 text-white font-bold animate-jump-in animate-duration-500 animate-delay-200 animate-ease-in-out animate-normal animate-fill-both">Streamers</a>
                    <a href="#viewers" class="btn bg-neutral-500 mt-4 hover:bg-secondary_hover border-0 text-white font-bold animate-jump-in animate-duration-500 animate-delay-300 animate-ease-in-out animate-normal animate-fill-both">Viewers</a>
                </div>
                <p class="font-bold animate-jump-in animate-duration-500 animate-delay-50 animate-ease-in-out animate-normal animate-fill-both mt-3 text-sm">
                    Open source - contribute on
                    <a href="https://github.com/gezelio/ytcr" class="underline font-bold hover:text-botred">GitHub</a>
                </p>
            </div>
        </div>
        <div id="streamers" class="flex items-center justify-center text-center h-screen">
            <div class="gap-4 mx-9 md:mx-24 lg:mx-40 xl:mx-80">
                <h1 class="font-black leading-tight text-center text-white text-6xl col-span-full">Attention streamers</h1>
                <p class="font-bold">Let's get you set up!</p>
                <div class="grid gap-4 mt-4 p-4 rounded-xl shadow-xl bg-neutral-700">
                    <span class="font-bold">Set up your awesome interactive YouTube stream by follow this quick guide</span>
                    <a href="https://github.com/gezelio/YTCR#how-to-set-up-youtube-channel-rewards-as-a-streamer" class="btn bg-botred hover:bg-button2 border-0 text-white font-bold animate-jump-in animate-duration-500 animate-delay-200 animate-ease-in-out animate-normal animate-fill-both">Setup Guide</a>
                </div>
                <div class="grid mt-9 bg-botred p-4 rounded-xl shadow-xl">
                    <span class="font-bold">Don't forget to download the Chrome extension!</span>
                    <a href="https://gezel.io/download" class="btn bg-off_white hover:bg-white hover:bg-button2 border-0 text-gray1 font-bold animate-jump-in animate-duration-500 animate-delay-200 animate-ease-in-out animate-normal animate-fill-both">
                        <i class="fa-brands fa-chrome mr-2"></i>
                        Download
                    </a>
                    <span class="text-xs mt-1 text-left">*Supports other Chromium based browsers such as Edge, Brave, Opera GX, etc</span>
                </div>
            </div>
        </div>
        <div id="viewers" class="flex items-center justify-center text-center h-screen">
            <div class="gap-4 mx-9 md:mx-24 lg:mx-40 xl:mx-80">
                <h1 class="font-black leading-tight text-center text-white text-6xl col-span-full">Welcome!</h1>
                <p class="font-bold">It's super easy to get involved with your favorite streams on YouTube</p>
                <div class="grid mt-9 bg-botred p-4 rounded-xl shadow-xl">
                    <span class="font-bold">Download the Chrome extension!</span>
                    <a href="https://gezel.io/download" class="btn bg-off_white hover:bg-white hover:bg-button2 border-0 text-gray1 font-bold animate-jump-in animate-duration-500 animate-delay-200 animate-ease-in-out animate-normal animate-fill-both">
                        <i class="fa-brands fa-chrome mr-2"></i>
                        Download
                    </a>
                    <span class="text-xs mt-1 text-left">*Supports other Chromium based browsers such as Edge, Brave, Opera GX, etc</span>
                </div>
                <p class="mt-4 text-lg text-left">
                    <span class="font-bold">That's it!</span>
                    Go and enjoy your favorite streams on YouTube and interact with them!
                </p>
            </div>
        </div>
    </body>
</html>
<!-- <script src="/js/toast.js"></script> -->
