<!DOCTYPE html>
<html lang="en" class="dark bg-gray2 text-white scroll-smooth">

    <head>
        <!-- <script src="/js/swiper.js" defer></script> -->
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/e311482788.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
            integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.map"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TNH2EKLKV"></script>
        <script async defer data-website-id="94af8724-cf3b-4356-b674-17a02a527846"
            src="https://analytics-v2.gezel.io/script.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>
            YouTube Channel Rewards
        </title>
        <meta name="description" content="Your one stop link, for all your social profiles with MystLink" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
        <!--Replace with your tailwind.css once created-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
        <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <style>
            .gradient {
                background: linear-gradient(90deg, main_grey 50%, off_white 100%);
            }
        </style>
        <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://api.gezel.io/js/tailwind_config.js"></script>
        <script src="https://api.gezel.io/js/footer_new.js" defer></script>
    </head>

    <body>
        <div id="start" class="bg-no-repeat bg-top"
            style="background-image: url(https://cdn.discordapp.com/attachments/1049322032388640778/1070033575900094479/mystlink_banner.webp);">
            <!-- Nav -->
            <div class="navbar bg-[#141414]">
                <div class="navbar-start">
                    <div class="dropdown bg-[#141414]">
                        <label tabindex="0" class="btn btn-ghost lg:hidden">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M4 6h16M4 12h8m-8 6h16" />
                            </svg>
                        </label>
                        <ul tabindex="0"
                            class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                            <li><a>Item 1</a></li>
                            <li tabindex="0">
                                <a class="justify-between">
                                    Parent
                                    <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                        viewBox="0 0 24 24">
                                        <path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" />
                                    </svg>
                                </a>
                                <ul class="p-2">
                                    <li><a>Submenu 1</a></li>
                                    <li><a>Submenu 2</a></li>
                                </ul>
                            </li>
                            <li><a>Item 3</a></li>
                        </ul>
                    </div>
                    <a class="btn btn-ghost normal-case text-xl"><img
                            src="https://camo.githubusercontent.com/ed88affa16affca80cbc34bebb3318dc80d2ee91fd3234c2e019df0f91b66fe6/68747470733a2f2f63646e2e646973636f72646170702e636f6d2f6174746163686d656e74732f3836363837353039303232313932343338322f313039383235303935343438343232383138372f6e65775f797463722e706e67"
                            class="w-12"></a>
                </div>
                <div class="navbar-center hidden lg:flex">
                    <ul class="menu menu-horizontal px-1">
                        <li><a href="https://github.com/orgs/gezelio/projects/5">Roadmap</a></li>
                        <li><a href="https://github.com/gezelio/YTCR/issues/new/choose">Bug Report</a></li>
                        <li><a href="https://github.com/gezelio/YTCR/issues/new/choose">Feature Suggestion</a></li>
                    </ul>
                </div>
                <div class="navbar-end gap-2">
                    <a href="#contribution" class="btn bg-gray1 border-0 text-white hover:bg-gray2"><i
                            class="fa-brands fa-github mr-2"></i> Contribute</a>
                    <a href="https://github.com/gezelio/ytcr"
                        class="btn bg-discord border-0 text-white hover:bg-discord2"><i
                            class="fa-brands fa-discord mr-2"></i> Discord</a>
                </div>
            </div>
            <!-- Nav end -->
            <!-- gezelbot banner -->
            <div class="bg-transparent text-center py-4 lg:px-4">
                <div class="p-2 bg-black items-center text-off_white leading-none lg:rounded-full flex lg:inline-flex"
                    role="alert">
                    <span class="flex rounded-full bg-discord uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
                    <a href="https://mystl.ink/?ref=ytcrbanner" class="mr-2 text-left flex-auto">Get <span
                            class="font-black">Mystl.ink</span> -
                        The <span class="text-myst_main font-bold">ULTIMATE</span> <span class="font-black">link in
                            bio</span>
                        profile page</a>
                    <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path
                            d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" />
                    </svg>
                </div>
            </div>
            <!-- banner end -->
            <!-- Main Content -->
            <div class="flex h-screen items-center justify-center">
                <div class="text-center">
                    <div class="">
                        <section class="justify-center items-center">
                            <div class="my-2">
                                <h1 class="text-5xl font-bold text-white mb-3">YouTube Channel Rewards</h1>
                                <p class="text-2xl text-white">The ultimate tool for YouTube streamers looking for an
                                    interactive and powerful</p>
                            </div>
                        </section>
                    </div>
                    <div class="justify-center">
                        <div id="buttons" class="md:grid grid-cols-2 gap-4 mx-4">
                            <a href="#features"
                                class="btn btn-block my-2 border-0 bg-gezel2 hover:bg-discord2 text-white font-bold py-2 px-4 rounded">
                                I'm a Streamer
                            </a>
                            <a href="#viewer"
                                class="btn btn-block my-2 border-0 bg-botred hover:bg-myst_dark text-white font-bold py-2 px-4 rounded">
                                I'm a Viewer
                            </a>
                            <a href="/creds/login"
                                class="col-span-full btn btn-block my-2 border-0 bg-off_white hover:bg-myst_main text-gray2 hover:text-white font-bold py-2 px-4 rounded w-full">
                                Sign In
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Features -->
            <div id="features" class="my-96 mx-9 items-center justify-items-center">
                <div id="channel-rewards" class="grid grid-cols-2 gap-9 pt-24 my-96">
                    <div class="col-span-full text-center">
                        <h1 class="text-white font-bold text-4xl">Why use YTCR?</h1>
                        <p>Learn how YouTube Channel Rewards can improve your streams, and help your community feel
                            involved
                        </p>
                    </div>
                    <div>
                        <h1 class="text-3xl font-bold">Channel Rewards inside YouTube</h1>
                        <p>Just like you had on Twitch, you can now have channel rewards on YouTube, that also control
                            your
                            OBS!</p>
                        <a href="#streamer"
                            class="btn btn-block rounded-lg shadow-2xl bg-gradient-to-r from-red-500 to-botred hover:from-red-700 hover:to-myst_dark text-white border-0 transition duration-200 ease-in-out transform hover:-translate-y--1 hover:scale-110">Get
                            Started</a>
                    </div>
                    <div>
                        <img src="https://lh3.googleusercontent.com/zPLm3sE7F48By6M7rQHN2DRjD2YdW9ccyfOot0zVCwcW2_tIgzh4h4c5P7LsdQHh-ey0gCQBKu8-e00jbsS7l2Ls=w640-h400-e365-rj-sc0x00ffffff" class="rounded-lg shadow-2xl">
                    </div>
                </div>
                <div id="mystlink-integration" class="grid grid-cols-2 gap-9 my-96">
                    <div>
                        <img src="https://cdn.discordapp.com/attachments/985747075390124082/1078724870017405008/brady_face.webp" class="rounded-lg">
                    </div>
                    <div>
                        <h1 class="text-3xl font-bold"><a href="https://mystl.ink?ref=ytcr" class=" hover:underline"><i
                                    class="fa-solid fa-link mr-2 text-lg"></i>Mystl.ink integration</a></h1>
                        <p class="badge bg-gezel2 text-white m-2">Coming soon</p>
                        <a href="#streamer"
                            class="btn btn-block rounded-lg shadow-2xl bg-gradient-to-r from-red-500 to-botred hover:from-red-700 hover:to-myst_dark text-white border-0 transition duration-200 ease-in-out transform hover:-translate-y--1 hover:scale-110">Get
                            Started</a>
                    </div>
                </div>
                <div id="mystlink-integration" class="grid grid-cols-2 gap-9 my-96">
                    <div>
                        <h1 class="text-3xl font-bold">A better clipping tool</h1>
                        <p>Allow your chat to trigger actions such as a clip that gets saved onto your local drive, all
                            with
                            the power of the OBS replay buffer!</p>
                        <a href="#streamer"
                            class="btn btn-block rounded-lg shadow-2xl bg-gradient-to-r from-red-500 to-botred hover:from-red-700 hover:to-myst_dark text-white border-0 transition duration-200 ease-in-out transform hover:-translate-y--1 hover:scale-110">Get
                            Started</a>
                    </div>
                    <div>
                        <img src="https://lh3.googleusercontent.com/tOstKbL_rQO0A3e9QTo8G98y8qMSkCSYlj-E5EGphbMjGtRrl34cv-nin7HLLbMphX3Um_XPm0Kan3oWWaXTbKxg2ic=w640-h400-e365-rj-sc0x00ffffff" class="rounded-lg shadow-2xl">
                    </div>
                </div>
            </div>
            <!-- Features end -->
            <div id="streamer" class="flex items-center pt-4 mx-9 justify-center">
                <div class="text-center">
                    <div class="">
                        <h2 class="text-left font-bold text-5xl text-white">Let's get started!</h2>
                        <h1 class="text-left font-bold text-white text-xl my-4">YTCR Brings all your channel points from
                            Twitch over to YouTube, with the power of <a href="https://streamer.bot"
                                class="underline">Streamer.bot</a></h1>
                        <div class="my-4 max-w-full" style="display: flex;justify-content: center;">
                            <iframe class="rounded-xl shadow-2xl max-w-xs md:max-w-full" width="560" height="315"
                                src="https://www.youtube.com/embed/AVUB1xe1_po" title="YouTube video player"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                        <div class="items-center">
                            <div class="">
                                <div>
                                    <a href="https://github.com/gezelio/YTCR#how-to-set-up-youtube-channel-rewards-as-a-streamer"
                                        class="btn px-24 bg-botred border-0 font-bold text-lg text-white shadow-2xl"><i
                                            class="fa-brands fa-github mr-2"></i>Set up guide</a>
                                </div>
                                <p class="text-gray-200 mt-9 text-lg">
                                    Don't forget to download the Chrome extension once you're done!
                                </p>
                                <div class="col-span-2">
                                    <a href="https://chrome.google.com/webstore/detail/youtube-channel-rewards/mljbbipcgoalcakbafgfhpdpegldihne"
                                        class="btn btn-block bg-neutral-600 border-0 text-white shadow-2xl mt-2"><i
                                            class="fa-brands fa-chrome mr-1"></i>Install for Chrome</a>
                                    <p class="text-left my-2 text-sm">*Supports other Chromium based browsers such as
                                        Edge,
                                        Brave,
                                        Opera GX, etc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="viewer" class="h-screen flex flex-col justify-center items-center">
            <div class="mx-4 text-center">
                <h2 class="text-left font-bold text-5xl text-white">Howdy!</h2>
                <h1 class="text-left font-bold text-botred text-xl my-4">As a viewer, the only thing you have to do
                    is
                    download the extension! 🎉</h1>
                <p class="text-left font-bold text-gray-200 my-4 text-lg">
                    Go support your YouTube streamers my downloading the extension today!
                </p>
                <div class="col-span-2">
                    <a href="https://chrome.google.com/webstore/detail/youtube-channel-rewards/mljbbipcgoalcakbafgfhpdpegldihne"
                        class="btn btn-block bg-neutral-600 border-0 text-white shadow-2xl mt-2"><i
                            class="fa-brands fa-chrome mr-1"></i>Install for Chrome</a>
                    <p class="text-left my-2 text-sm">*Supports other Chromium based browsers such as Edge, Brave,
                        Opera GX, etc</p>
                </div>
            </div>
        </div>
        <!-- contribution -->
        <div id="contribution" class="h-screen flex flex-col justify-center items-center">
            <div class="mx-24 text-center">
                <h2 class="text-left font-bold text-5xl text-white">Have the skills to help?</h2>
                <h1 class="text-left font-bold text-botred text-xl mb-4">Become a developer of an awesome open source
                    project!</h1>
                <p class="text-left font-bold text-gray-200 my-4 text-lg">
                    Starting from YTCR 2.0, the project is now open source. This means that anybody can view the code,
                    and
                    contribute towards the goal of having an awesome experiencing when streaming on YouTube.
                </p>
                <p class="text-left font-bold text-gray-200 mt-9 text-lg">Some information about our stack and
                    technologies
                    used:</p>
                <ul class="text-left">
                    <li>- Express JS</li>
                    <li>- Tailwind</li>
                    <li>- StreamerBot</li>
                    <li>- C#</li>
                </ul>
                <p class="text-left mt-9">Your contributions can be in the shape of changes to the UI, how our Chrome
                    extension works, how StreamerBot talks to the web socket, anything goes!</p>
                <div class="col-span-2">
                    <a href="https://github.com/gezelio/ytcr"
                        class="btn btn-block bg-neutral-600 border-0 text-white shadow-2xl mt-2"><i
                            class="fa-brands fa-github mr-1"></i>Become a contributor</a>
                </div>
            </div>
        </div>
        <!-- Discord cta -->
        <div id="" class="pb-9">
            <div></div>
            <div id="discord" class="lg:col-span-4 bg-discord2 text-center py-9">
                <h1 class="text-center text-white items-center text-2xl font-extrabold mb-8">Join our Discord <i
                        class="fa-brands fa-discord"></i></h1>
                <a href="https://gezel.io/discord"
                    class="text-center text-gray1 bg-white hover:bg-gray1 hover:text-white p-2 rounded-lg font-bold text-xl">
                    <i class="fa-brands fa-discord text-discord text-xl"></i> Join us!</a>
            </div>
            <div></div>
        </div>

        <div id="mastodon verification" class="mx-4 hidden">
            <h1 class="font-bold text-white">Find us on Mastodon</h1>
            <a rel="me" href="https://icreate.social/@tommerty">Tommerty</a><br>
            <a rel="me" href="https://icreate.social/@Trent">Trent</a>
        </div>
        </div>

    </body>

</html>
<!-- <script src="/js/toast.js"></script> -->