<!DOCTYPE html>
<html lang="en" class="dark bg-background text-white">
    <head>
        <script>
            let user = JSON.parse(`<%- JSON.stringify(user) %>`);
        </script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/e311482788.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.map"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TNH2EKLKV"></script>
        <script async defer data-website-id="94af8724-cf3b-4356-b674-17a02a527846" src="https://analytics-v2.gezel.io/script.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>YouTube Channel Rewards</title>
        <meta name="description" content="Your one stop link, for all your social profiles with MystLink" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <!--Replace with your tailwind.css once created-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
        <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <style>
            .gradient {
                background: linear-gradient(90deg, main_grey 50%, off_white 100%);
            }
        </style>
        <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://api.gezel.io/js/tailwind_config.js"></script>
        <script src="https://api.gezel.io/js/footer_new.js" defer></script>
        <script src="/assets/js/navbar.js" defer></script>
        <script src="/assets/js/dashboard.js" defer></script>
    </head>

    <body>
        <div style="display: none" id="toast-container-works" class="z-[99999999] toast-container fixed top-0 end-0 p-3">
            <div class="relative toast rounded bg-secondary text-white">
                <div class="toast-header">
                    <i class="fas fa-check-circle me-2"></i>
                    <strong class="me-auto">YTCR Updated</strong>
                </div>
            </div>
        </div>
        <div style="display: none" id="toast-container-fail" class="z-[99999999] toast-container fixed top-0 end-0 p-3">
            <div class="relative toast rounded bg-red-500 text-white">
                <div class="toast-header">
                    <i class="fas fa-check-circle me-2"></i>
                    <strong class="me-auto">YTCR Error</strong>
                </div>
            </div>
        </div>
        <div id="main">
            <div>
                <label for="channel_id">Channel ID:</label>
                <code class="bg-green-800 rounded" id="channel_id"></code>
            </div>
        </div>
        <div class="">
            <h1 class="text-neutral-400 justify-center font-bold text-2xl mt-2 mb-1">General Settings</h1>
            <div class="card w-full bg-base-100 shadow-xl mb-2">
                <div class="card-body bg-input">
                    <h2 class="card-title text-white">
                        <i class="fa-solid fa-chart-line"></i>
                        Points Per Interval
                    </h2>
                    <p class="text-neutral-400">Select how many points a viewer should get every 5 minutes</p>
                    <!-- dropdown -->
                    <div class="">
                        <select id="select_points" class="rounded-lg select-bordered p-3 bg-input text-white font-bold"></select>
                    </div>
                    <button id="update_button_id" class="hidden bg-primary py-2 px-4 text-center rounded shadow text-off_white font-bold text-bold hover:bg-red-700" onclick="update_points()">Save Changes</button>
                </div>
            </div>
            <div class="card w-full bg-base-100 shadow-xl mb-2">
                <div class="card-body bg-input">
                    <h2 class="card-title text-white">
                        <i class="fa-solid fa-add"></i>
                        Add/Remove Points from a user
                    </h2>
                    <p class="text-neutral-400">Manually add/remove points from a user, great for refunding alerts that didn't trigger, etc.</p>
                    <div class="w-full max-w-sm mx-auto">
                        <div class="relative">
                            <input type="text" id="user-search-input" class="bg-input text-off_white w-full border rounded-lg py-2 px-4 pl-10 leading-tight focus:outline-none focus:border-purple-500" placeholder="Search users..." />
                            <div class="absolute inset-y-0 left-0 pl-4 flex items-center">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                            <div id="user-search-results" class="absolute top-full left-0 right-0 z-10" style="display: none">
                                <ul id="user-list" class="bg-input text-off_white border rounded-b-lg shadow-md"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="flex gap-4 flex-wrap">
                        <input type="hidden" id="users_id" class="input bg-input text-off_white w-full max-w-xs font-bold" />
                        <input type="text" disabled placeholder="Username" id="ytcr_name" name="ytcr_name" class="input bg-input text-off_white font-bold w-full max-w-xs" />
                        <ul class="overflow-y-auto mt-2 rounded-lg px-3 pb-3 h-48 w-full bg-input text-sm text-gray-700 dark:text-gray-200 hidden" aria-labelledby="dropdownSearchButton" id="select_user_search_ul"></ul>
                        <input type="number" placeholder="Value: example:-300" id="user_points" class="input bg-input text-off_white w-full max-w-xs font-bold" />
                    </div>
                    <button id="update_user_search_points" onclick="UpdateUserPoints()" class="hidden bg-primary py-2 px-4 text-center rounded shadow text-off_white font-bold text-bold hover:bg-red-700">Save Changes</button>
                </div>
            </div>
            <div class="card w-full bg-base-100 shadow-xl mb-2">
                <div class="card-body bg-input">
                    <h2 class="card-title text-white">
                        <i class="fa-solid fa-file-video"></i>
                        Clip Button
                    </h2>
                    <p class="text-neutral-400">Enable/disable clip button from the extension</p>
                    <span class="text-botred">NOTE: Changes to this feature requires you restart your Streamerbot application</span>
                    <!-- dropdown -->
                    <div class="">
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">Disable</span>
                                <input type="radio" id="clip_disable" name="radio-10" value="off" class="radio checked:bg-red-500" />
                            </label>
                        </div>
                        <div class="form-control">
                            <label class="label cursor-pointer">
                                <span class="label-text">Enable</span>
                                <input type="radio" id="clip_enable" name="radio-10" value="on" class="radio checked:bg-secondary" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
