<!DOCTYPE html>
<html lang="en" class="dark bg-gray2 text-white">
    <head>
        <script src="/assets/js/logging.js" defer></script>
        <script>
            let user = JSON.parse(`<%- JSON.stringify(user) %>`);
        </script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/e311482788.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.map"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://unpkg.com/tippy.js@6"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TNH2EKLKV"></script>
        <script async defer data-website-id="94af8724-cf3b-4356-b674-17a02a527846" src="https://analytics-v2.gezel.io/script.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>YouTube Channel Rewards - Rewards</title>
        <meta name="description" content="YTCR is a platform that allows Twitch streamers to bring their channel points to YouTube streams using Streamerbot. Join YTCR today and enhance your streaming experience!" />
        <meta name="keywords" content="YTCR, Twitch, YouTube, channel points, Streamerbot, streaming, platform" />
        <meta name="author" content="gezel.io" />
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
        <!--Replace with your tailwind.css once created-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
        <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <style>
            .gradient {
                background: linear-gradient(90deg, main_grey 50%, off_white 100%);
            }
        </style>
        <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://api.gezel.io/js/tailwind_config.js"></script>
        <script src="https://api.gezel.io/js/footer_new.js" defer></script>
        <script src="/assets/js/navbar.js" defer></script>
        <script src="/assets/js/rewards.js" defer></script>
    </head>
    <div style="display: none" id="toast-container-works" class="z-[99999999] toast-container fixed top-0 end-0 p-3">
        <div class="relative toast rounded bg-green-500 text-white">
            <div class="toast-header">
                <i class="fas fa-check-circle me-2"></i>
                <strong class="me-auto">YTCR Updated</strong>
            </div>
        </div>
    </div>
    <div style="display: none" id="toast-container-fail" class="z-[99999999] toast-container fixed top-0 end-0 p-3">
        <div class="relative toast rounded bg-red-500 text-white">
            <div class="toast-header">
                <i class="fas fa-check-circle me-2"></i>
                <strong class="me-auto">YTCR Error</strong>
            </div>
        </div>
    </div>

    <body class="relative h-screen">
        <div class="flex justify-center w-full pt-4">
            <div id="main" class="">
                <h1 class="font-bold text-4xl mb-2">Rewards</h1>
                <div class="container bg-gray1 rounded-lg shadow-xl p-4 my-4">
                    <h2 class="text-2xl font-bold">Create Reward</h2>
                    <p class="mb-4">
                        These are "simple" rewards that have no interactivity with OBS/StreamerBot/etc.
                        <span class="font-bold">IF</span>
                        you're looking to build interactive rewards, please create these rewards in StreamerBot
                    </p>
                    <input id="reward_name" type="text" placeholder="My Reward" class="input bg-gray2 border-0 w-full max-w-xs" />
                    <input id="reward_cost" type="number" placeholder="100" class="input bg-gray2 border-0 w-full max-w-xs" min="0" />
                    <input id="reward_action" type="text" placeholder="numbers-numbers-numbers-numbers-numbers" class="input bg-gray2 border-0 w-full max-w-xs" />
                    <button id="create-btn" onclick="Create()" class="hidden bg-green-500 btn btn-block text-white w-1/4">Create</button>
                    <button id="edit-btn" onclick="EditSend()" class="hidden bg-green-500 btn btn-block text-white w-1/4">update</button>
                    <button id="clear-btn" onclick="RefreshData()" class="hidden bg-red-500 btn btn-block text-white w-1/4">Clear</button>
                </div>
                <div class="container bg-gray1 rounded-lg shadow-xl p-4 my-4">
                    <h2 class="text-2xl font-bold">Current Rewards</h2>
                    <p class="mb-4">This currently only lists the rewards created from here, and not from StreamerBot</p>
                    <div class="mx-auto w-full">
                        <div class="overflow-x-auto">
                            <table class="table w-full">
                                <!-- head -->
                                <thead>
                                    <tr>
                                        <th class="bg-botred">Reward Name</th>
                                        <th class="bg-botred">Cost</th>
                                        <th class="bg-botred">Action ID</th>
                                        <th class="bg-botred">Built From</th>
                                        <th class="bg-botred">Edit</th>
                                    </tr>
                                </thead>
                                <tbody id="reward-table"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
