<!DOCTYPE html>
<html lang="en" class="bg-white">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@3.0.4/dist/full.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://api.gezel.io/js/tailwind_config.js"></script>
        <script src="https://kit.fontawesome.com/e311482788.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="container" class="container bg-gray1 p-1 m-4 rounded-md"> <!--m-4 is just there to work on the design-->
            <div id="top-buttons" class="flex justify-between p-2 col-span-full font-bold">
                <btn class="bg-botred px-2 rounded-lg text-white hover">%points% Points</btn>
                <btn class="bg-botred px-2 rounded-lg text-white hover">
                    <!-- if disabled, be bg-gray2 -->
                    <i class="fa-solid fa-clapperboard mr-2"></i>
                    Clip
                </btn>
            </div>
            <div id="rewards" class="m-2 col-span-full grid grid-cols-4 gap-3">
                <btn class="p-4 rounded-lg border-2 flex flex-col items-center justify-center bg-botred aspect-w-2 aspect-h-2">
                    <div id="name" class="font-bold mb-4">Button Name</div>
                    <div id="cost" class="font-bold bg-gray2 p-2 text-sm rounded-md shadow-md mt-auto">1234</div>
                </btn>
                <btn class="p-4 rounded-lg border-2 flex flex-col items-center justify-center bg-botred aspect-w-2 aspect-h-2">
                    <div id="name" class="font-bold mb-4">Button Name</div>
                    <div id="cost" class="font-bold bg-gray2 p-2 text-sm rounded-md shadow-md mt-auto">1234</div>
                </btn>
                <btn class="p-4 rounded-lg border-2 flex flex-col items-center justify-center bg-botred aspect-w-2 aspect-h-2">
                    <div id="name" class="font-bold mb-4">Button Name this one is super long to show that it greaks the height of the below cost id</div>
                    <div id="cost" class="font-bold bg-gray2 p-2 text-sm rounded-md shadow-md mt-auto">1234</div>
                </btn>
                <btn class="p-4 rounded-lg border-2 flex flex-col items-center justify-center bg-botred aspect-w-2 aspect-h-2">
                    <div id="name" class="font-bold mb-4">Button Name</div>
                    <div id="cost" class="font-bold bg-gray2 p-2 text-sm rounded-md shadow-md mt-auto">1234</div>
                </btn>
                <btn class="p-4 rounded-lg border-2 flex flex-col items-center justify-center bg-gray1 text-white aspect-w-2 aspect-h-2">
                    <i class="fa-solid fa-folder text-4xl"></i>
                    <div id="cost" class="font-bold bg-off_white text-gray2 p-2 text-sm rounded-md shadow-md mt-auto">Folder Name</div>
                </btn>
                <btn class="p-4 rounded-lg border-2 flex flex-col items-center justify-center bg-gray1 text-white aspect-w-2 aspect-h-2">
                    <i class="fa-solid fa-folder text-4xl"></i>
                    <div id="cost" class="font-bold bg-off_white text-gray2 p-2 text-sm rounded-md shadow-md mt-auto">Folder Name but this one is longer to test the spacing</div>
                </btn>
                <btn id="folder back button" class="p-4 rounded-lg border-2 flex flex-col items-center justify-center bg-gray1 text-white aspect-w-2 aspect-h-2">
                    <i class="fa-solid fa-arrow-left text-4xl"></i>
                </btn>
                <!-- Folder colours should stay like this I think
                Only allow the buttons to have special colours -->
            </div>
        </div>
    </body>
</html>
