<!DOCTYPE html>
<html lang="en" class="bg-background text-white">
    <head>
        <script src="/assets/js/markdown.js"></script>
        <link href="/assets/styles/tailwind.css" rel="stylesheet" type="text/css" />
        <script src="https://kit.fontawesome.com/e311482788.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.map"></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5TNH2EKLKV"></script>
        <script async defer data-website-id="94af8724-cf3b-4356-b674-17a02a527846" src="https://analytics-v2.gezel.io/script.js"></script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>YouTube Channel Rewards</title>
        <meta name="description" content="YTCR is a platform that allows Twitch streamers to bring their channel points to YouTube streams using Streamerbot. Join YTCR today and enhance your streaming experience!" />
        <meta name="keywords" content="YTCR, Twitch, YouTube, channel points, Streamerbot, streaming, platform" />
        <meta name="author" content="gezel.io" />
        <!--Replace with your tailwind.css once created-->
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />
        <!-- Define your gradient here - use online tools to find a gradient matching your branding-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <script src="/assets/js/navbar_home.js" defer></script>
    </head>
    <body class="m-9">
        <h1 class="text-center font-black text-4xl mb-9">YTCR Docs</h1>
        <!-- start of docs -->
        <div id="getStartedDocs" class="grid grid-cols-3 gap-9 mx-9 mb-20 bg-accent p-4 rounded-lg">
            <h1 class="font-bold text-2xl col-span-full mb-1">Getting Started with YTCR</h1>
            <!-- this div will show all doc pages inside a folder called (/get-started) -->
        </div>
        <div id="faqDocs" class="grid grid-cols-3 gap-9 mx-9 mb-20 bg-accent p-4 rounded-lg">
            <h1 class="font-bold text-2xl col-span-full mb-1">FAQ And Common Issues</h1>
            <!-- this div will show all doc pages inside a folder called (/faq) -->
        </div>
        <div id="interactiveDocs" class="grid grid-cols-3 gap-9 mx-9 mb-20 bg-accent p-4 rounded-lg">
            <h1 class="font-bold text-2xl col-span-full mb-1">Interactivity Information</h1>
            <!-- this div will show all doc pages inside a folder called (/streamerbot) -->
        </div>
        <div id="betaDocs" class="grid grid-cols-3 gap-9 mx-9 mb-20 bg-accent p-4 rounded-lg">
            <h1 class="font-bold text-2xl col-span-full mb-1">Beta</h1>
            <!-- this div will show all doc pages inside a folder called (/streamerbot) -->
        </div>
    </body>
</html>
<script>
    fetch(`/assets/md.json`)
        .then((response) => response.json())
        .then((data) => {
            data.forEach((item) => {
                if (item.url.split("/")[0] == "getstarted") {
                    document.getElementById("getStartedDocs").innerHTML += `
                    <a href="/docs/${item.url}" class="bg-primaryhover hover:bg-primary hover:shadow-xl scale-100 hover:scale-105 ease-in duration-100 transition p-4 rounded-lg flex flex-col text-left group">
                        <h1 class="font-bold text-xl">${item.title}</h1>
                        <p class="">${item.description}</p>
                    </a>
                    `;
                }
                if (item.url.split("/")[0] == "faq") {
                    document.getElementById("faqDocs").innerHTML += `
                    <a href="/docs/${item.url}" class="bg-primaryhover hover:bg-primary hover:shadow-xl scale-100 hover:scale-105 ease-in duration-100 transition p-4 rounded-lg flex flex-col text-left group">
                        <h1 class="font-bold text-xl">${item.title}</h1>
                        <p class="">${item.description}</p>
                    </a>
                    `;
                }
                if (item.url.split("/")[0] == "interactive") {
                    document.getElementById("interactiveDocs").innerHTML += `
                    <a href="/docs/${item.url}" class="bg-primaryhover hover:bg-primary hover:shadow-xl scale-100 hover:scale-105 ease-in duration-100 transition p-4 rounded-lg flex flex-col text-left group">
                        <h1 class="font-bold text-xl">${item.title}</h1>
                        <p class="">${item.description}</p>
                    </a>
                    `;
                }
                if (item.url.split("/")[0] == "beta") {
                    document.getElementById("betaDocs").innerHTML += `
                    <a href="/docs/${item.url}" class="bg-primaryhover hover:bg-primary hover:shadow-xl scale-100 hover:scale-105 ease-in duration-100 transition p-4 rounded-lg flex flex-col text-left group">
                        <h1 class="font-bold text-xl">${item.title}</h1>
                        <p class="">${item.description}</p>
                    </a>
                    `;
                }
            });
        });
</script>
